header{
    height: 350px;
    width: 100%;
    background: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.form{
    width: 100vw;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#paragraaf{
    display: none;
    border:  green 4px solid;

}
